.container {
  display: flex;
  flex-direction: column;

  &__thumbnail {
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 20px;

    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;

    &__photo {
      width: 150px;
      height: 150px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.08),
        -5px -5px 10px rgba(0, 0, 0, 0.08);

      border-radius: 30px;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__info {
    display: flex;
    align-items: flex-end;
    gap: 10px;

    &__title {
      font-size: 50px;
      font-weight: 900;
    }

    &__subTitle {
      color: gray;
      font-weight: 600;
      padding-bottom: 12px;
    }
  }
}
